.container {
  margin-bottom: 40px;
}

.navbar-brand img {
  height: 59px;
  width: 194px;
}
.navbar {
  background-color: #f0fff0;
}
.navbar-collapse {
  justify-content: right;
}
.btn {
  background-color: #21b573;
  border-radius: 33px;
  width: 104px;
  height: 43px;
  color: white;
}
.col1 h5 {
  color: red;
}
.col1 h1 {
  font-size: 70px;
  font-weight: bold;
}
.col1 {
  margin-top: 70px;
}
.col1 p {
  margin-top: 20px;
}
.header img {
  width: 100%;
  margin-top: 50px;
}

.con1 {
  background-color: #f0fff0;
}
.span1 {
  color: #21b573;
}
.btn2 {
  border: 0;
  box-shadow: 5px 5px 10px gray;
  background-color: #21b573;
  border-radius: 33px;
  width: 124px;
  height: 43px;
  color: white;
}
.card1 img {
  width: 120px;
}
.card2 {
  background-color: #f0fff0;
}
.card2:hover {
  box-shadow: 5px 5px 10px gray;
  background-color: white;
}
.card {
  padding-left: 35%;
  border: none;
  border-radius: 10px;
  padding-top: 40px;
}
.card-img-top {
}

.card3 img {
  padding: 20px;
}
.online h1 {
  text-align: center;
}

.card-footer img {
  height: 70px;
  margin: 0%;
}
.card3 {
  box-shadow: 5px 5px 10px gray;
  border-radius: 10px;
}
.card3:hover {
  box-shadow: 0px 5px 10px gray;
}
.card-footer {
  border: none;
}
small {
  margin-top: 0%;
}
label {
  margin-left: 12%;
}
.test {
  text-align: center;
}

.about-image {
  width: 120px;
  height: 120px;
}
.section-header {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 50px;
  font-weight: bold;
}
.text-dark {
  font-size: 20px;
}
footer {
  background: #282531;
  padding: 40px 20px 10px 20px;
  margin-top: 100px;
  height: 100%;
}
a {
  font-size: 20px;
  text-decoration: none;
  color: #ffffff;
  transition: 0.2s ease;
}
a:hover {
  text-decoration: none;
  color: #a79f9f;
}
.footer-text {
  text-align: center;
  margin-top: 50px;
  color: #a79f9f;
}
.form-control:focus {
  box-shadow: 0px 0px 1px 2px #28a745;
}
